* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container{

}

.hero-background-img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3);

}

.app-logo{
    position:absolute;
    top:0px;
    left:0px;
    width: 100px;
    height: 100px;
    margin: 30px;
}

.desktop-nav-bar-container{
    position: absolute;
    top:0px;
    right:0px;
    margin-top:40px;
    margin-right:20px;

}

.desktop-nav-bar{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.desktop-nav-item{
    margin: 20px;
    font-family: 'Lato', sans-serif;
    color:white;
    font-size:1.05em
}

.hero-text-container{
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    justify-content:center;
}

.hero-text-item-container{
    margin-left: 30px;
}

.hero-text{
    font-family: 'Lato', sans-serif;
    color:white;
}

.hero-button-item-container{
    /* margin-left: 30px; */
    display:flex;
    flex-direction: rows;
}

.hero-button-item-container button{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-color:#e67e22;
}

.hero-text-button1{
    background-color:#e67e22;
    color:white;
}

.hero-text-button2{
    background-color: transparent;
    border-color:#e67e22;
    color:#e67e22;
}

